.sheetTable {
  border-collapse: collapse;
}

.sheetTable td,
.sheetTable th {
  border: 1px solid #ddd;
}

.sheetTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding: 8px 16px 8px 8px;
  text-align: left;
  background-color: #efefef;
}
